.announcement-alert {
    background-color: var(--gr-1f);
    background: var(--gr-1);
    color: var(--clr-pc-100);
    padding-block: 0.625rem;
}

.alert-title {
    font-weight: 700;
}

nav, section {
    padding-inline: 2.5rem;
    display: grid;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: flex-start;
}

.logo > lottie-player{
    height: 100px;
}

#main-section {
    background-image: url(../assets/hero_image.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-h2 {
    font-size: var(--fs-heading-600);
    color: var(--clr-pc-400);
    max-width: 40ch;
    letter-spacing: -2px;
    font-family: var(--ff-heading);
    font-weight: 500;
    margin-bottom: 10rem;
}

.hero-h3 {
    font-size: var(--fs-heading-500);
    font-weight: 400;
    color: var(--clr-pc-900);
    max-width: 30ch;
    font-family: var(--ff-heading-2);
    margin-bottom: 4.5rem;
    line-height: 1.64;
}

#primary-cta-section {
    padding-block: 2rem 4.2rem;
}

#primary-cta-section .cta-text {
    font-size: var(--fs-body-600);
    font-style: italic;
    max-width: 70ch;
    margin-bottom: 1.25rem;
}

.btn-cta {
    background-color: var(--clr-pc-300);
    color: var(--clr-pc-100);
    cursor: pointer;
}

#what-batik, #how-section {
    background-color: var(--clr-pc-100);
    padding-block: 5rem;
}

#what-batik h2 {
    font-size: var(--fs-heading-600);
    font-weight: 800;
    margin-bottom: 1.25rem;
}

#what-batik h4 {
    font-size: var(--fs-heading-400);
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.video-player {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    padding: 1rem 1.5rem 2rem;
    border-radius: 0.875rem;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    width: clamp(300px,80%,766px);
}

.video-player iframe {
    aspect-ratio: 16/9;
    padding: 0.4rem;
    border: 1px solid var(--clr-pc-800);
    border-radius: 16px;
}

#steps-video{
    width: clamp(250px, 100%, 700px);
}


.video-player-nav {
    position: relative;
    display: flex;
    justify-items: flex-start;
    margin-bottom: 1rem;
}

.video-player-nav::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: var(--clr-pc-800);
    border-radius: 100vw;
}

#customers-section {
    padding-block: 5rem 2.5rem;
    padding-inline: 0;
    overflow: hidden;
}

#benefits-section, #benefit-range-section, #history-section, #why-section, #care-section, #easy-steps-section, #faq-section {
    padding-block: 5rem;
}

#benefits-section h2 {
    margin-bottom: 2.5rem;
}

.benefit-detail {
    font-size: var(--fs-body-400);
    max-width: 100%;
}
.benefit-subtitle {
    font-size: var(--fs-body-400);
    max-width: 80ch;    
}


.benefits {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 1rem;
}

.benefit-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    width: min(750px,90vw);
}

.benefit-item-reverse {
    justify-items: flex-end;
    text-align: right;
    margin-left: auto;
}

.benefit-item:last-child{
    margin-bottom: 2.5rem
}

.benefit-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50ch;
}

.benefit-text h3 {
    font-size: var(--fs-heading-400);
}

#benefit-range-section {
    background-color: var(--clr-sc-1);
}

#benefit-range-section h2 {
    max-width: 25ch;
    margin-bottom: 2.5rem;
}

#benefit-range-section p {
    max-width: 70ch;
    margin-bottom: 2.5rem;
}

.range-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 744px;
    padding: 1rem;
    background-color: var(--clr-white);
}

.range-item{
    filter: grayscale(0.9);
    transition: all 0.3s ease-in-out;
    
}

.range-item:hover{
    transform: skewY(-3deg);
    filter: grayscale(0);
}

#history-section {
    position: relative;
}

.founder-curtain {
    display: grid;
    align-items: baseline;
    padding-top: 10rem;
    padding-bottom: 0.4rem;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    max-width: max-content;
    background: var(--gr-2f);
    background: var(--gr-2);
    position: absolute;
}

.founder-curtain img{
    width: 128px;
    aspect-ratio: 1;
}

.curtain-left {
    top: 0;
    left: 8%;
}

.curtain-right {
    background: var(--gr-3f);
    background: var(--gr-3);
    right: 8%;
}

.idea-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 5rem;
}

.idea-grid div:nth-child(3) > img{
    margin-bottom: 1rem;
}


.idea-item~div:nth-child(3) {
    margin-top: 10rem;
}

.idea-item img{
    width: clamp(200px,100%,320px);
}

#idea-path {
    margin-top: 18rem;
    margin-left: 2rem;
    z-index: -1;
}

.whys{
    margin-bottom: 2.5rem;
}

.why-item img{
    width: clamp(150px,100%, 350px);
}

.why-item{
    gap: clamp(0.5rem, 1.5rem, 2rem)
}

.tab-menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-inline: 4rem;
}

.tab-menu {
    margin-top: 3rem;
    padding-top: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-block: 1.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

.tab-menu-active {
    opacity: 1;
}

.tab-menu-active::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    left: 0;
    top: 0;
    border-radius: 100vw;
    background-color: var(--clr-pc-500);
}

.tab-menu h4 {
    font-family: var(--ff-heading-2);
    font-size: var(--fs-body-400);
    font-weight: 700;
    margin-bottom: 0.875rem;
}

.tab-menu > * {
    pointer-events: none;
}

.care-desc {
    font-size: var(--fs-heading-400);
    font-weight: 700;
    color: var(--clr-pc-200);
}


#care-recap-section{
    padding-top: 5rem;
    padding-bottom: 0;
}

.care-text {
    max-width: 50ch;
}

#care-section>.flex-row {
    gap: 1.5rem;
    align-items: flex-start;
    margin-bottom: 4rem;
    text-align: left;
}

#care-section > img{
    margin-bottom: 2.5rem;
}
.grid-container{
    background-color: var(--clr-sc-1);
    margin-top: 3.75rem;
    width: 100%;
}

.benefit-admin-grid {
    margin-inline: auto;
    padding-block: 2.5rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 766px;
}

.benefit-admin-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 1.5rem 4rem 1.5rem;
    background-color: var(--clr-white);
    /* width: 250px; */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.benfit-category-symbol{
    width: 50px;
    aspect-ratio: 1;
}

.benefit-subheading{
    font-family: var(--ff-heading-3);
    font-weight: 500;
    font-size: var(--fs-body-600);
}
.benefit-text{
    font-size: var(--fs-body-200);
    width: 100%;
}

.sponsor-logos {
    margin-top: 1rem;
    display: grid;
    max-width: 172px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "Area";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.employer-journey, .employee-journey{
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.joruney-img{
    margin-bottom: 5rem;
}

.employer-journey{
    background-color: #fffaeb;
    color: #fdb022;
}
.employee-journey{
    background-color: #ecfdf3;
    color: #12b76a;
}

.faqs{
    min-width: clamp(300px, 70%, 766px);
}

.faq-box{
    border: 1px solid var(--clr-pc-200);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.faq-box > * {
    pointer-events: none;
}

.faq-question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.faq-ans{
    margin-block: 1rem;
    display: none;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.faq-ans-active{
    display: inline-block;
    opacity: 1;
}

.faq-ans > p{
    margin-bottom: 1rem;
}

/* Modal */
.modal-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #1018288f;
    inset: 0;
    z-index: 999;
    display: none;
}

.form-container{
    position: relative;
    max-width: min(90%,976px);
    margin-inline: auto;
    margin-top: min(5vh,60px);
    padding: 2rem 8rem;
    background: var(--gr-4);
    border: 3px solid #454444;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form>.flex-row{
    gap: 2rem;
   }


.form-container::after{
    position: absolute;
    content: url(../assets/form_illustration.png);
    width: 245px;
    bottom: -10px;
    left: -80px;
}

.close-btn{
    position: absolute;
    content: '';
    background-color: #101828;
    width: 60px;
    height: 60px;
    top: -3px;
    right: -3px;
    display: grid;
    align-items: center;
    color: var(--clr-white);
    cursor: pointer;
}

.form-container h2{
    font-size: var(--fs-body-600);
    width: clamp(25ch,45ch,50ch);
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    font-weight: 700;
    color: #1A1A1A;
    margin-bottom: 0.8rem;
}

.form>.flex-row:last-child {
    margin-bottom: 2rem;
}

.field-label{
    font-size: var(--fs-body-300);
}

.field-label .mandatory{
    color: #FF0000;
}

.field{
    padding: 0.5rem;
    border: 1px solid #707070;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    transition: border 300ms ease-in;
}

.field.field-error{
    border: 2px solid crimson;
}

.error-message{
    display: none;
    margin-top: 2rem;
    color: crimson;
}

.error-message > a {
    color: crimson;
    font-weight: 700;

}


.toast{
    display: none;
    font-size: 14px;
    padding: 1rem 2rem;
    background-color: rgb(216, 15, 15);
    border-left: 10px solid black;
    color: var(--clr-white);
    width: max-content;
    position: absolute;
    bottom: 24px;
    right: -3px;
}

#form-btn:disabled{
    cursor: not-allowed;
}

.btn-text{
    /* display: none; */
}

.btn-loading{
    width: 80px;
    height: 32px;
    display: none;
}

.btn-calendly{
    background-color: var(--clr-pc-300);
    color: var(--clr-pc-100);
    cursor: pointer;
}

.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.thank-you lottie-player{
    margin-inline: auto;
}